:root {
    --dark: #1e252b;
    --blue: #283036;
    --orange: #FF6E30;
    --gray: #FFFFFF8C;
    --white: #FFFFFFE5;
    --title: #FFFFFFE5;
    --light-orange: #EA8C4F;
    --price-orange: #FFA5378C;
    --price-light-orange: #FFA537;
    --light-gray: #FFFFFF1A;
    --logos-light-gray: #2C353D33;
    --border-gray: #21282F;
    --light-gray: #262D33;
}
